In [23]:
#อ่านเอกสาร CSV กำหนดหัวคอลัมน์


#กด shift + enter คือ สร้าง กล่อง code ขึ้นมาใหม่

In [24]:
##Dataframe อ่านเอกสาร CSV (การกำหนด Header)
# import pandas as pd
# df = pd.read_csv('ตำแหน่งไฟล์')
# cols  = ['Name','Price','Category']

##ใช้ Name เป็น index 
# df = pd.read_csv('ตำแหน่งไฟล์',encoding='uft-8',names=cols,index_col='Name')
# df.head()

In [25]:
import pandas as pd

In [26]:
#การอ่านไฟล์ csv เข้ามา
df = pd.read_csv('product3.csv',encoding='utf-8')

In [27]:
df

      keybord          IT   1200
0        doll         toy    900
1  i phone 12  smartphone  30000

In [ ]:
#กำหนดคอลัมน์ให้มันใหม่ เพราะ ผลลัพธ์หน้านี้มันเพี้ยน
colsName = ['Name','Category','Price']
df = pd.read_csv('product3.csv',encoding='utf-8',names=colsName)

In [ ]:
df

         Name    Category  Price
0     keybord          IT   1200
1        doll         toy    900
2  i phone 12  smartphone  30000

In [ ]:
#แบบเปลี่ยนชุดข้อมูล

#กำหนดคอลัมน์ให้มันใหม่ เพราะ ผลลัพธ์หน้านี้มันเพิ้ยน
colsName = ['Name','Category','Price']
df = pd.read_csv('product.csv',encoding='utf-8',names=colsName)

In [31]:
df

           Name    Category  Price
NaN        Name    Category  Price
0.0     keybord          IT   1200
1.0        doll         toy    900
2.0  i phone 12  smartphone  30000

In [ ]:
#จากที่เห็นจะสรุปได้ว่า การอ่านไฟล์ csv แบบกำหนดคอลัมน์นั้นเหมาะกับไฟล์ที่ไม่มีชื่อคอลัมน์มาตั้งแต่แรกแล้วเราเอามากำหนดที่หลัง****