In [10]:
#สร้าง DataFrame จาก List ด้วย zip

#zip คือ การบีบอัดข้อมูลใน list ให้อยู่ในกลุ่มเดียวกัน

In [11]:
#การสร้าง DataFrame จาก List หลายตัวด้วย zip
#import pandas as pd
#item1=['คีย์บอร์ด','อุปกรณ์คอม',1200]
#item2=['ตุ๊กตาของเล่น','ของเล่น',900]
#item1=['iphone i2 ','มือถือ',30000]

# data = list(zip(item1,item2,item3))
# cols =['Name','Category','Price']
# df = pd.DataFrame(data , columns=cols)

In [12]:
#เรียกใช้งาน pandas
import pandas as pd

In [13]:
#สร้าง กลุ่มข้อมูลด้วย list  เป็นหลายๆ กลุ่ม แล้วค่อย zip 

product1=['คีย์บอร์ด','อุปกรณ์คอม',1200]
product2=['ตุ๊กตาของเล่น','ของเล่น',900]
product3=['iphone i2 ','มือถือ',30000]

In [14]:
#รวมร่างกันด้วยการ .ใส่ list ก่อนแล้วค่อย zip

datas = list(zip(product1,product2,product3))

In [15]:
#สร้างหัวตาราง และตั้งชื่อ คอลัมน์
cols = ['Name','Category','Price']

In [16]:
#สร้างตาราง
df = pd.DataFrame(datas,columns=cols)

In [17]:
#แสดงตาราง
df

         Name       Category       Price
0   คีย์บอร์ด  ตุ๊กตาของเล่น  iphone i2
1  อุปกรณ์คอม        ของเล่น      มือถือ
2        1200            900       30000

In [18]:
#จะเห็นว่า มันแสดงตารางลำดับผิด เช่น  Name จะแสดง คีย์บอร์ด อุปกรณ์คอม 1200 เรียงลงมา ซึ่งจริงๆควรแสดง คีย์บอร์ด ตุ๊กตาของเล่น , iphone 12
#ต้องแก้ตั้งแต่เราสร้าง list ขึ้นมาเป็น 

Name =['คีย์บอร์ด','ตุ๊กตาของเล่น','iphone i2']
Category =['อุปกรณ์คอม','ของเล่น','มือถือ']
Price =[1200,900,30000]

In [19]:
#สร้างตาราง และตั้งชื่อหัวตาราง
cols = ['Name' , 'Category' , 'Price']

In [ ]:
#รวมร่างกันด้วยการ .ใส่ list ก่อนแล้วค่อย zip

df = pd.DataFrame(list(zip(Name,Category,Price)),columns=cols)

In [21]:
df

            Name    Category  Price
0      คีย์บอร์ด  อุปกรณ์คอม   1200
1  ตุ๊กตาของเล่น     ของเล่น    900
2      iphone i2      มือถือ  30000

In [ ]:
#สรุป
#การสร้าง zip ถ้าเรามอง list แต่ละตัว มันแสดงผลเป้น แนวนอน
#ส่วนถ้าเอาสร้างเป็นก้อน dataframe ธรรมดา มันจะแสดงผลเป็นแนวตั้ง
#การใช้ตัว zip คือการนำ list ที่ข้อมูลคล่ายคลึงกัน นำมาสร้างเป้นตาราง เช่น ชื่อกลุ่มชื่อสินค้า