In [ ]:
#อ่านเอกสาร CSV

In [ ]:
#DataFrame อ่านเอกสาร CSV
# import pandas as pd
# df = pd.read_csv('ตำแหน่งไฟล์',encoding='utf-8')
# df.head()

#encoding='utf-8' คือการเข้ารหัสตัวอักษร กรณีที่นำข้อมูลหรือข้อความเป็นภาษาไทย เลยต้อง encoding='utf-8' เพื่อให้อ่านไฟล์ได้

In [ ]:
import pandas as pd

#อ่าน ไฟล์ csv
df = pd.read_csv("product.csv")

# #อ่าน ไฟล์ csv กรณีมีภาษาไทยในข้อมูล
# df = pd.read_csv("product.csv",encoding='utf-8')

In [ ]:
df
#กด ctrl + enter จะrun

   Unnamed: 0        Name    Category  Price
0           0     keybord          IT   1200
1           1        doll         toy    900
2           2  i phone 12  smartphone  30000