In [1]:
#สร้าง DataFrame จาก Series

In [ ]:
#การสร้าง DataFrame จาก Series
# import pandas as pd
# name = ['keybord','doll','i phone 12']
# category = ['IT','toy','smartphone']
# price = [1200 , 900 , 30000]

# #สร้าง Series
# name = pd.Series(name)
# category = pd.Series(category)
# price = pd.Series(price)

# #สร้าง dictionary ก้อนนึงตั้งชื่อว่า frame เพื่อเก็บข้อมูล และมี key และ vale และจับคู่ข้อมูลเลย
# frame = {
#     'Name':name ,
#     'Category':category , 
#     'Price':price
# }

# #สร้าง dataframe เพื่อสร้างตารางจากข้อมูลก่อนหน้านี้ที่เรา input เข้ามา
# df = pd.DataFrame(frame)
# #แสดงผล
# df

         Name    Category  Price
0     keybord          IT   1200
1        doll         toy    900
2  i phone 12  smartphone  30000

In [4]:
#เรียกใช้ pandas
import pandas as pd

In [ ]:
#สร้าง product data ที่เราต้องการ  หรือ มันคือการเตรียมข้อมูล
name = ['keybord','doll','i phone 12']
category = ['IT','toy','smartphone']
price = [1200 , 900 , 30000]

In [6]:
#สร้าง series
name = pd.Series(name)
category = pd.Series(category)
price = pd.Series(price)

In [7]:

#สร้าง dictionary ก้อนนึงตั้งชื่อว่า frame เพื่อเก็บข้อมูล และมี key และ vale และจับคู่ข้อมูลเลย
frame = {
    'Name':name ,
    'Category':category , 
    'Price':price
}

In [ ]:

#สร้าง dataframe เพื่อสร้างตารางจากข้อมูลก่อนหน้านี้ที่เรา input เข้ามา หรือ มันคือการรวมร่างข้อมูล ลงในตัวแปรชื่อ frame
df = pd.DataFrame(frame)

In [11]:
#แสดงผล
df

         Name    Category  Price
0     keybord          IT   1200
1        doll         toy    900
2  i phone 12  smartphone  30000

In [13]:
#หรือ อยากจะให้ index เปลี่ยนเป็น ชื่อสินค้าแทนเลย 
df.set_index(['Name'],inplace=True)

In [14]:
df

              Category  Price
Name
keybord             IT   1200
doll               toy    900
i phone 12  smartphone  30000