In [8]:
#อ่านเอกสาร CSV บางคอลัมน์

In [9]:
#Dataframe อ่านเอกสาร CSV (เฉพาะบางคอลัมน์)
# import pandas as pd
# df = pd.read_csv('ตำแหน่งไฟล์')
# cols  = ['Name','Price']
# df = pd.read_csv('ตำแหน่งไฟล์',encoding='uft-8',usecols=cols)
# df.head()

In [10]:
import pandas as pd

In [11]:
#การอ่านไฟล์ csv เข้ามา
df = pd.read_csv('product.csv') 
#เขียนแบบข้างล่างก็ได้

In [ ]:
#เฉพาะบางคอลัมน์ และตั้งชื่อ columns ให้มันด้วย
cols  = ['Name','Price']

#หรือเขียนรวบกันเลยในบรรทัดเดียวเลยก็ได้เช่น
#df = pd.read_csv('product.csv',encoding='utf-8',index_col="Name")

In [13]:
#อ่านไฟล์ csv และกำหนดเฉพาะบางคอลัมน์ ในตัวแปร cols ที่เรากำหนดมาก่อนหน้านี้
df = pd.read_csv('product.csv',encoding='utf-8',usecols=cols)

In [14]:
df

         Name  Price
0     keybord   1200
1        doll    900
2  i phone 12  30000

In [15]:
#ต้องการ เปลี่ยนเลข index เป็นชื่อสินค้าแทน ใช้คำสั่ง ,index_col="Name" เพิ่มเข้าไป
df = pd.read_csv('product.csv',encoding='utf-8',usecols=cols ,index_col="Name")

In [16]:
df

            Price
Name
keybord      1200
doll          900
i phone 12  30000