In [27]:
#การสร้าง DataFrame จาก List หลายมิติ
#list แบบหลายมิติ คือ การเขียน list แบบซ้อน list

In [28]:
#ตัวโครงสร้าง DataFrame จาก List แบบหลายมิติ
#import pandas as pd

#ข้างในตัวแปร data จะมีข้อมูล list อยู่ข้างใน ตัวครอบที่เรียกว่า บัคเกต []
# data = [
#     ['คีย์บอร์ด','อุปกรณ์คอม',1200 ],
#     ['ตุ๊กตา','ของเล่น',900],
#     ['iphone 12','มือถือ',3000]
# ]

#ถัดมาเราจะสร้าง หัวตารางขึ้นมาที่ชื่อ cols เพื่อที่สร้างหัวตารางและตั้งชื่อต่างๆที่คอลัมน์ต่างๆ                               
# cols = ['Name','Category','Price']
#และสร้างเป็น กลุ่ม dataframe ขึ้นมาเพื่อสร้างตารางสวยๆจาก list ที่เราสร้างข้างต้น
# df = pd.DataFrame(data,columns=cols)

In [29]:
#เรียกใช้งาน pandas
import pandas as pd

#กด shift + enter คือ สร้าง กล่อง code ขึ้นมาใหม่ หรือ มันคือการกด run

In [ ]:
#สร้าง list ซ้อน list  คือ data = [[],[]]
data = [ ['คีย์บอร์ด','IT',4000],['ตุ๊กตา','ของเล่น',500],['เมาส์','IT',300] ]

In [31]:
#สร้าง dataframe เพื่อสร้างตารางสวยๆขาก list ที่เราสร้างมาข้างต้น
df = pd.DataFrame(data)

In [32]:
df

           0        1     2
0  คีย์บอร์ด       IT  4000
1     ตุ๊กตา  ของเล่น   500
2      เมาส์       IT   300

In [33]:
print(df)

           0        1     2
0  คีย์บอร์ด       IT  4000
1     ตุ๊กตา  ของเล่น   500
2      เมาส์       IT   300

In [34]:
#หากต้องการ เปลี่ยนชื่อ columns ให้สร้าง cols และตั้งชื่อก่อนแล้วค่อยสร้าง dataframe หรือสร้างตารางสวยๆ และกำหนด columns = cols

In [35]:
#ต้องการเปลี่ยนชื่อคอลัมน์
cols =['Name','Category','Price']

In [36]:
df = pd.DataFrame(data , columns= cols)

In [37]:
df

        Name Category  Price
0  คีย์บอร์ด       IT   4000
1     ตุ๊กตา  ของเล่น    500
2      เมาส์       IT    300